mgl-map {
    height: 100%;
    width: 100%;
}

/* Main Popup Style */
:host ::ng-deep  .popup{
    border-radius: 16px;
    /* padding: 32px; */
    box-shadow: 0px 2px 18px rgba(5, 98, 220, 0.382);
    font-family: 'Roboto', sans-serif; /* Google Material font */
    font-size: 14px;
    color: #212121; /* Darker text color for contrast */
    transform: scale(2);
    position: relative; /* For arrow positioning */
    opacity: 0.98;
    background-color: #ffffff00;
    width: 10rem;
  }

  /* city location */
  :host ::ng-deep .popup p:last-of-type {
    font-weight: 400;
    color: #5f6368; /* Subtle dark gray */
    font-size: 14px;
  }