

  <div class="modal fade" id="myProfileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h1>My profile</h1>
        <ng-container *ngIf="!!authenticator.user">
            <ul>
                <li>Username: {{ authenticator.user.username }}</li>
                <li>UserID: {{ authenticator.user.userId }}</li>
                <li>Email: {{ userInfo.email }}</li>
                <li>Email Verified: {{ userInfo.email_verified }}</li>

            </ul>
        </ng-container>
         
          
            
          
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
          </div>
      </div>
    </div>
  </div>
  
