<navbar></navbar>

<div class="how-to-button">
  <button (click)="redirectToHowTo()" aria-label="How To">
    <i class="bi bi-question-circle"></i> <!-- Bootstrap Icon -->
  </button>
</div>

<amplify-authenticator
  [loginMechanisms]="['username']"
  [formFields]="formFields"
>
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
  <router-outlet></router-outlet>

    <!-- Conditional rendering is no longer needed here as routes handle component loading -->
  </ng-template>
</amplify-authenticator>


