<div class="about-container">
    <h1>About Us</h1>
    <p>
      GRASP (Gas Refill Application for a Sustainable Puerto Rico) is a platform designed to provide Puerto Rican drivers with accurate, real-time gas price information to help 
      them save on fuel costs. 
      Addressing the financial challenges faced by students and low-income residents, GRASP gathers and consolidates data from Puerto Rico’s Department of Consumer Affairs (DACO) 
      to provide transparent, user-friendly price comparisons of nearby gas stations. 
      Built with a serverless architecture for cost efficiency and scalability, the app offers an essential resource in emergencies by highlighting gas stations with available fuel. 
      GRASP is not only a tool for economic relief but also fosters transparency, promotes smarter spending, and supports market competition in Puerto Rico’s fuel industry.
    </p>
    <h3>Developer team:</h3>
    <ul>
      <li><b>Yeran L. Concepción Concepción</b>: yeran.concepcion&#64;upr.edu</li>
      <li><b>Sebastian Rodríguez Irizarry</b>: sebastian.rodriguez29&#64;upr.edu</li>
      <li><b>Ián G. Colón Rosado</b>: ian.colon6&#64;upr.edu</li>
    </ul>
    <h3>Team Supervisor:</h3>
    <ul>
      <li><b>Prof. Wilson Rivera Gallego</b> wilson.riveragallego&#64;upr.edu</li>
    </ul>
    
    <button type="button" class="btn btn-primary gas-button" routerLink="/map"><< Back to Map</button>
</div>
  